*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.content {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: fit-content;
  align-items: flex-end;
  padding: 133px 30px;
  justify-content: space-between;
}

.content__list-container {
  display: flex;
  position: relative;
  gap: 30px;
  flex-direction: column;
  overflow-y: auto;
  height: 298px;    
}

.content__details {
  position: relative;
  width: fit-content;
  height: 100%;
  overflow: auto;
}

.result {
  position: relative;
  height: 100%;
  width: fit-content;
  margin-right: 30px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 140px;
  margin-bottom: 22px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.content__list {
  display: grid;
  flex-direction: column;
  gap: 27px;
}

.content__list-item {
  padding: 3px 3px 0 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 5px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}

.content__video-card-title {
  position: relative;
  max-width: 196px;
  margin-bottom: 3px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
  max-width: 196px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 3px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  min-width: 212px;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
}

.search-form .search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: #1b1919;
  border: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  min-width: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid #ffffff;
  padding: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #ffffff;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 6px 73px;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73px 0;
  cursor: pointer;
}

.more-button {
  height: 100%;
  width: 100%;
  margin-bottom: 1px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}
